@import "./variables.scss";

.contact {
    border: 2px solid red;
    padding: 2rem;
    min-height: 300px;
}

.contact-list {
    list-style-type: none;
    margin: 2rem;
    li {
        margin: 2rem;
    }
    img {
        max-width: 60px;
        cursor: pointer;
    }
}