@import "./variables.scss";

.projects {
    border: 2px solid red;
}

.projects h3 {
    margin: 2rem;
    padding: 2rem;
}

.projects a {
    margin: 0.5rem;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projects-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px dotted silver;
    background-color: $light-background;
    background:
        linear-gradient(135deg, $light-background 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, $light-background 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, $light-background 25%, transparent 25%),
        linear-gradient(45deg, $light-background 25%, transparent 25%);
    background-size: 100px 100px;
    width: 80%;

    h3 {
        font-size: 4rem;
        line-height: normal;
        margin: 4rem 0;
        padding: 0;
    }

    p {
        font-size: 1.4rem;
    }
}

.projects-card {
    width: 500px;
    min-height: 200px;
    margin: 3rem 2rem;
    padding: 2rem;
    border: 2px dotted silver;
    background-color: $light-background;

    img {
        height: 350px;
        max-width: 350px;
        --b: 3px;
        /* border thickness */
        --c: #0000 25%, silver 0;
        /* define the color here */
        padding: 10px;
        background:
            conic-gradient(from 90deg at top var(--b) left var(--b), var(--c)) 0 0,
            conic-gradient(from 180deg at top var(--b) right var(--b), var(--c)) 100% 0,
            conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c)) 0 100%,
            conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c)) 100% 100%;
        background-size: 60px 60px;
        /* adjust border length here */
        background-repeat: no-repeat;
        transition: 0.4s;
        cursor: pointer;
    }

    p,
    a {
        padding: 1rem;
    }

    img:hover {
        background-size: 51% 51%;
    }
}

@media screen and (max-width: 700px) {
    .projects-card {
        max-width: fit-content;

        img {
            max-width: 300px;
        }
    }
}