@import "./variables.scss";

.contact {
    margin: 10rem auto;
    border: 2px solid #4b505d;
    box-shadow: $box-shadow;
    max-width: 60%;

    h3 {
        font-size: 2rem;
        margin: 2rem;
        line-height: 1.1;
    }
}

.contact-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        margin: 2rem;
    }

    img {
        max-width: 70px;
        cursor: pointer;
        transition: transform .3s ease-in-out;
    }

    img:hover {
        transform: scale(1.1);
        box-shadow: $box-shadow;
        border-radius: 50%;
    }
}

.fade {
    opacity: 0;
    transform: translate(0, 30vh);
    transition: all 1s;
}

.fade.visible {
    opacity: 1;
    transform: translate(0, 0);
}