@import "./variables.scss";

.header {
    position: sticky;
    top: 0;
}

//gör navbar vanlig och klickbar så att man hoppar till kategorier istället för att ha den sticky
.nav-container {
    display: flex;
    justify-content: flex-end;

    ul {
        max-width: 600px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            padding: 1rem 0;
        }
    }

    .vertical-line {
        margin: 0.4rem;
        width: 2px;
        background-color: grey;
    }

    a {
        font-size: 1.6rem;
        color: silver;
        text-decoration: none;
        background: linear-gradient(#1095c1 0 0) var(--p, 0) / var(--p, 0) no-repeat;
        transition: 0.4s, background-position 0s;
        cursor: pointer;
    }

    a:hover {
        --p: 100%;
        color: #fff;
    }
}

@media screen and (min-width: 1090px) {
    .menu-nav {
        a {
            font-size: 23px;
        }
    }

}