@import "./variables.scss";

.hero-parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../assets/hero-test.jpg");
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: $box-shadow;

    h1 {
        line-height: 1.2;
        font-size: 4.5rem;
        margin: 1rem;
        padding: 1rem;
        text-shadow: $text-shadow;
    }
}

.hero-paragraph {
    font-size: 2rem;
    line-height: 1;
    margin: 1rem;
    padding: 1rem;
    max-width: 40ch;
    text-shadow: $text-shadow;
}