@import "./variables.scss";

.hero-parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../assets/hero-test.jpg");
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px 1px 1px 1px #4b505d;
}

.hero-parallax h1 {
    line-height: 1.2;
    font-size: 5rem;
    margin: 1rem;
    padding: 1rem;
}

.hero-paragraph {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
}