@import "./variables.scss";

.hero-parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../assets/hero-test.jpg");
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: $box-shadow;

    h1 {
        line-height: 1;
        font-size: 4.2rem;
        margin: .5rem;
        padding: .5rem;
        text-shadow: $text-shadow;
    }

    .hero-paragraph {
        font-size: 1.6rem;
        line-height: 1;
        text-align: end;
        margin: .5rem;
        padding: .5rem;
        max-width: 40ch;
        text-shadow: $text-shadow;
    }

    .hero-list {
        display: flex;

        .hero-button {
            width: 100px;
            list-style-type: none;
            font-size: 1.2rem;
            line-height: 1;
            margin: .5rem;
            padding: .8rem;
            transition: transform .3s ease-in-out;
            transition: all 0.5s;
            background-color: #303030;
            border: 3px dotted #4b505d;
            cursor: pointer;
        }

        .hero-button:hover {
            transform: scale(1.1);
            border-radius: 2px;
            box-shadow: 4px 4px 2px #4b505d;
            margin: 0 1rem 1rem 0;
        }
    }
}

@media screen and (max-width: 620px) {
    .hero-parallax {
        text-align: start;
        height: 80vh;
        background-attachment: unset;

        .hero-paragraph {
            text-align: start;
        }

        .hero-list {
            margin: 0 auto;
        }
    }
}