@import "./variables.scss";

.projects {
    h3 {
        margin: 0.5rem;
    }

    a {
        margin: 0.2rem;
    }
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projects-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    box-shadow: $box-shadow;
    background-color: $light-background;
    background:
        linear-gradient(135deg, $light-background 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, $light-background 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, $light-background 25%, transparent 25%),
        linear-gradient(45deg, $light-background 25%, transparent 25%);
    background-size: 100px 100px;

    h2 {
        font-size: 4rem;
        line-height: normal;
        margin: 4rem 0;
        padding: 0;
    }

    p {
        font-size: 1.4rem;
        margin: 1rem;
    }
}

.projects-card {
    width: 450px;
    height: 580px;
    margin: 3rem 1rem 0;
    padding: 2rem;
    border: 2px dotted silver;
    background-color: $light-background;

    img {
        height: 300px;
        max-width: 300px;
        --b: 3px;
        /* border thickness */
        --c: #0000 25%, silver 0;
        /* define the color here */
        padding: 10px;
        background:
            conic-gradient(from 90deg at top var(--b) left var(--b), var(--c)) 0 0,
            conic-gradient(from 180deg at top var(--b) right var(--b), var(--c)) 100% 0,
            conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c)) 0 100%,
            conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c)) 100% 100%;
        background-size: 60px 60px;
        /* adjust border length here */
        background-repeat: no-repeat;
        transition: 0.4s;
        cursor: pointer;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    p {
        padding: 1rem;
    }

    img:hover {
        background-size: 51% 51%;
    }
}

@media screen and (max-width: 700px) {
    .projects-card {
        max-width: fit-content;
        width: 450px;
        height: 550px;
        margin: 2rem 0rem;
        padding: 1rem;

        img {
            max-width: 300px;
            max-height: 300px;
        }

        p {
            padding: 0.5rem;
        }

        a {
            display: block;
            margin: 0;
            padding: 0.5rem;
        }
    }
}