@import "./variables.scss";

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    height: 120vh;
    border-top: 4px dotted #4b505d;
}

.tools-card {
    box-shadow: $box-shadow;
    font-size: 1.2rem;
    max-width: 50%;
    margin: 2rem;
    padding: 5rem;
    background-color: $light-background;
    background: linear-gradient(90deg, #4b505d 0%, #2c2f36 100%);

    h3 {
        font-size: 2rem;
        margin: 1rem 0 3rem 0;
    }
}

.tools-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    max-height: 60%;
    max-width: 100%;
    list-style: none;
    margin-right: 10rem;
    padding: 2rem;

    li {
        width: 100%;
        font-family: sans-serif;
        font-size: 1.4rem;
        margin: .8rem;
        padding: .5rem;
        border: 2px dotted #4b505d;
        background-color: $light-background;
    }
}

.toolsFade {
    opacity: 0;
    transform: translate(0, 40vh);
    transition-delay: 1s;
    transition: all 1s;
}

.toolsFade.visible {
    opacity: 1;
    transform: translate(0, 0);
}

@media screen and (max-width: 700px) {
    .tools {
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .tools-card {
        max-width: 100%;
        padding: 5rem 1rem;
    }

    .tools-list {
        flex-direction: row;
        max-width: 90%;
        margin: auto;
        padding: 0;

        li {
            margin: .5rem;
        }
    }
}