@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

$body-bg: #efefef;
$container-bg: #ffffff;
$light-grey: #E9E9E9;
$medium-grey: #F6F6F6;
$dark-grey: #B5B5B5;
$light-background: #303030;

$text-font: "Roboto Condensed", sans-serif;
$box-shadow: 1px 1px 1px 1px #4b505d;
$text-shadow: 1px 1px 5px $light-background;