:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(circle, #454545 10%, #48485990 80%);
}

a {
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}